In [0]:
#series -> similar to numpy array

import numpy as np
import pandas as pd

In [0]:
label = ['a', 'b', 'c', 'd']
my_data = [10,20,30,450]
pd.Series(my_data)

0     10
1     20
2     30
3    450
dtype: int64

In [0]:
print(pd.Series(data = my_data, index = label))
print('-------------------')
print(pd.Series(my_data, label))

a     10
b     20
c     30
d    450
dtype: int64
-------------------
a     10
b     20
c     30
d    450
dtype: int64

In [0]:
ser1 = pd.Series([1,2,3,4], ['NewYork', 'Florida', 'California', 'Washington'])
ser1

NewYork       1
Florida       2
California    3
Washington    4
dtype: int64

In [0]:
ser2 = pd.Series([1,2,5,4], ['NewYork', 'Florida', 'Seattle', 'Washington'])
ser2

NewYork       1
Florida       2
Seattle       5
Washington    4
dtype: int64

In [0]:
ser1 + ser2

California    NaN
Florida       4.0
NewYork       2.0
Seattle       NaN
Washington    8.0
dtype: float64

In [0]:
#DATAFRAMES

In [0]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [0]:
np.random.seed(101)

In [0]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'], ['W','X','Y','Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [0]:
print(df['W'])
print('-------------------------')
print(type(df['W']))
print('-------------------------')
type(df)

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64
-------------------------
<class 'pandas.core.series.Series'>
-------------------------

pandas.core.frame.DataFrame

In [0]:
df['new'] = df['W'] + df['Y']
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [0]:
print(df.drop('new' , axis = 1))
# <- need to defind axis because on default it refers to index, so in order to refer to column change the axis to 1
#if you want changes to stay then you have to put inplace = True
#df.drop('new', axis = 1, inplace = True)

df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [0]:
df.drop('new', axis = 1, inplace = True)
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [0]:
#df.drop -> drop rows
df.drop('E')

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [0]:
# SELECTING ROWS

In [0]:
df.loc['C'] # location based

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [0]:
df.iloc[2] #iloc is index based location

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [0]:
df.loc['B', 'Y']

-0.8480769834036315

In [0]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

In [0]:
booldf = df > 0
df[booldf]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [0]:
df['W'] > 0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [0]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [0]:
df[df['W'] > 0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [0]:
df[df['W'] > 0]['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [0]:
#multiple conditions -> use '&' not 'and'
df[(df['W']) > 0 & (df['Y'] > 1)]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [0]:
#reset index
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [0]:
#Index Levels
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [10]:
df = pd.DataFrame(randn(6,2), hier_index,['A','B'])
df

             A         B
G1 1  2.472392  0.356500
   2  1.081529  1.226205
   3  1.701003  1.151680
G2 1  0.285769  1.290381
   2 -0.558959  0.736177
   3  0.033500 -0.365727

In [11]:
df.loc['G1'].loc[1]

A    2.472392
B    0.356500
Name: 1, dtype: float64

In [12]:
df.xs('G1')

          A         B
1  2.472392  0.356500
2  1.081529  1.226205
3  1.701003  1.151680