In [0]:
# orders of operations
print(1+2.3) # add
print(1 * 2) # multiplication
print(5 / 2) # division
print(5 // 2) # no decimal
print(2 ** 4) # power
print(4 % 2) # remainder

3.3
2
2.5
2
16
0

In [0]:
#list inside a list
my_list = ['a','b',[4,'d']]
print(my_list)
my_list[2][0]

['a', 'b', [4, 'd']]

4

In [0]:
#dict -> key value pair like hash tables
d = {'key1': 'value1', 'key2': 'value2'}
d['key2']

'value2'

In [0]:
#other DS

#set {} unique
# tuples () immutable

In [0]:
#if else

if (1 < 2):
  print('1 is less than 2')
else:
  print('1 is greater than 2')

1 is less than 2

In [0]:
#for loop
item = [1,2,3,4,5]
for i in item:
  print(i)

1
2
3
4
5

In [0]:
#while loop
i = 1 
while i < 7:
  print('i is {}'.format(i))
  i = i +1

i is 1
i is 2
i is 3
i is 4
i is 5
i is 6

In [0]:
#range
for i in range(0,5):
  print(i)

0
1
2
3
4

In [34]:
#list comprehension
x = [1,2,3,4,5,6]
result = []
for i in x:
  result.append(i**2)
  print(result)
print('-----------------')

result = [i**2 for i in x] # list comprehension
print(result)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
-----------------
[1, 4, 9, 16, 25, 36]

In [41]:
#function
def my_func(name, number):
  print('Hello ' + name + ' ' + number)
my_func('User', '30')

Hello User 30

In [45]:
#map
#lambda
seq = [1,2,3,4]
list(map(lambda num: num* 2, seq))

[2, 4, 6, 8]

In [46]:
#filter
list(filter(lambda num: num %2 == 0, seq))

[2, 4]

In [48]:
#methods
#split
inp = 'Hello User, Welcome'
inp.split()[2]

'Welcome'

In [49]:
#tuples unpacking
x = [(1,2), (3,4), (5,6)]
for a,b in x:
  print(b)

2
4
6